@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&display=swap');

html {
    font-family: 'Inter', sans-serif;
}

body {
    margin: 0;
}
#header {
    border-bottom: 1px solid gray;
    display: flex;
    padding: 10px 100px;
    justify-content: space-between;
    background-color: white;
}
#header p {
    margin-right: 40px;
}
#header-right {
    display: flex; 
    align-items: center;
}
#header-right p:hover {
    color: #6b53f0;
    cursor: pointer;
}
.redondo {
    background-color: white;
    border: 2px solid black;
    border-radius: 25px;
    padding: 0px 20px;
    height: 32px;
}
#introduction {
    padding: 48px;
    background-color: white;
}
#introduction-text h1 {
    margin: 0px 400px;
    text-align: center;
}
#introduction-actions {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}
.sumate {
    margin-left: 14px;
    border-color: #6b53f0;
    color: #6b53f0;
}
.sumate:hover {
    background-color: #6b53f0;
    color: white;
    cursor: pointer;
}
.redondo:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}
#impacto {
    background-color: #201b24;
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 100px 30px;
}
#impacto-i {
    width: 30%;
    text-align: left;
    margin-left: 150px;
}
#impacto-d {
    width: 30%;
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-right: 150px;
}
#impacto-d h1{
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 0;
}
#impacto-d p{
    font-size: 14px;
    color: #8c939c;
    margin-top: 0;
}
#impacto-d span {
    font-size: 30px;
    font-weight: 400;
    color: #6b53f0;
}
#vacio {
    background-image: url('./img/fondo.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
}
#actividad {
    padding: 80px 3%;
}
#actividad p{
    text-align: justify;
    font-size: 14px;
}
.titulo-est {
    text-align: left;
    padding-bottom: 20px;
}
.prog-cap {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
}
.act-img {
    width: 50%;
}
.act-img img {
    border-radius: 0 40px 40px 40px;
}
.act-info {
    width: 50%;
}
.act-info img {
    height: 40px;
}
.actividad-est {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding-bottom: 50px;
}
.act-img-d {
    display: flex;
    justify-content: right;
    width: 50%;
}
.act-img-d img {
    border-radius: 40px 40px 0 40px;
}
#equipo {
    background-color: #f4f4f5;
}
#galeria {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding: 80px 3%;
    /* justify-content: space-between;
    overflow-x: auto; */
}
.galeria-card {
    background-color: white;
    border-radius: 20px 20px 20px 0;
    display: block;
    width: 90%;
    margin: 20px 0;
}
.galeria-card-img {
    width: 100%;
}
.galeria-card-img img {
    border-radius: 20px 20px 0 0;
    width: 100%;
}
.galeria-card-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 20px;
}
.galeria-card-info h3 {
    margin-bottom: 0;
}
.galeria-card-info p {
    color: #8c939c;
    margin-top: 0;
}
.galeria-card-info img:hover {
    cursor: pointer;
}
#alianzas {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#alianzas-galeria {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
#alianzas-galeria div img {
    width: 100%;
    filter: grayscale(100%);
    opacity: 0.5;
}
#alianzas-galeria div img:hover {
    filter: none;
    opacity: 1;
}
#footer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    background-color: #201b24;
    color: #8c939c;
    padding: 60px 30px 40px;
    font-size: 14px;
}
#footer div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0 20px;
}
#footer div h3 {
    margin: 0;
    text-align: left;
}
#footer div h3:hover {
    cursor: pointer;
    color: white;
    transition: 0.5s;
}
#footer div p {
    margin: 0;
}
.pad-3-h {
    padding: 0 3%;
}